
body {
    background-color: lightyellow;
}

.title {
    margin-bottom: 0;
}

#title-notes {
    margin-bottom: 0.5rem;
    font-family: 'Roboto Mono';
    text-align: center;
}

#title-descr {
    font-family: 'Roboto Mono';
    text-align: center;
    font-size: 14px;
}

#notes-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: white; 
    width: 100%;
    height: 80vh;
    transition: all 200ms; 
}

.features {
    margin: 0.5rem 0;
    display: inline-flex;
    width: 100%;

}

.feature-element {
    display: inline-flex;
    padding: 0 2rem;
    background-color: darkgoldenrod;
    height: 2rem;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin: 0 2rem;
}

#bold, #bold-a {
    margin: 0 -1.5rem;
    padding: 0 1rem;
    font-size: 16px;
}

#font-family {
    padding: 0 .5rem 0 1rem;
}

.feature-element:hover {
    opacity: 0.8;
}

.feature-element:active {
    background-color: goldenrod;
}

#new-note::before {
    content: "+";
    margin-right: 1rem;
    margin-left: 0;
}

#delete-note {
    display: none;
}

#delete-note::before {
    content: "-";
    margin-right: 1rem;
    margin-left: 0;
}

.note {
    background-color: yellow;
    width: 24.4%; 
    height: 31.5%;
    margin: 0 0.3%;
    border-radius: 10px;
    vertical-align: top;
    flex-grow: 0;
    display: none;
    transition: all 200ms;
    position: relative;
}

.text-note {
    width: 98%;
    height: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    font-family:'Times New Roman', Times, serif;   
    text-align: center;
    font-size: 24px;    
}


.done-note {
   background-color: transparent;
   color: darkgoldenrod;
   font-weight: bold;   
   font-size: 16px;   
   border: none;
   padding: 0.33rem;
   cursor: pointer;
   border-radius: 0 0 10px 0;
   transition: background-color, color 200ms;
   align-self: flex-end;
   justify-self: flex-end;
   position: absolute;
   bottom: 0;
   right: 0;

}

.done-note:hover {
    background-color: rgba(0, 0, 0, 0.125);
    color: goldenrod;
}

.done-note:active {
    color: gold;
}

#align-button {
    background-color: darkgoldenrod; 
    padding: 0 2rem; 
    height: 2rem;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;   
    position: absolute;
    right: 2%;

}

#align-button:hover {
    opacity: 0.8;
}

#align-button:active {
    background-color: goldenrod;
}

footer {
    display: flex;
}

.del-note {
    background-color: transparent;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding: .3rem .38rem;
    transition: background-color 200ms;
    border-radius: 0 10px 0 0;
    height: 24px;
    align-self: flex-start;
    justify-self: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.4;
}

.del-note:hover {
    background-color: red;
    opacity: 1; 
}


#font-size {
    padding: 0 .25rem 0 1rem;
    width: 2rem;
    margin: 0 2rem 0 -1.5rem;  
    height: 2rem;
    overflow: scroll; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.color-picker {
    height: 2rem;
    width: 2rem;
    animation-name: colorchange; 
    animation-duration: 3s;
    animation-iteration-count:infinite;
    border-radius: 50%;
    position: absolute;
    left: 0.2rem;
    bottom: 0.2rem;
    cursor: pointer;
}

.color-picker:hover {
    border: 1px solid gray !important; 
}

.color-picker:active {
    animation-name: none; 
    background-color: lightblue;
}

.color-selector {
    width: 75%;
    display: none;
    position: absolute;
    bottom: 0.2rem;
    left: 2.2rem;
    padding: 0 0 0 .125rem;
}


.color-one, .color-two, .color-three {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin: 0 .125rem;
    transition: all 200ms;
    cursor: pointer;
}


.color-one {
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
}

.color-two {
    background-color: lightpink;
    border: 1px solid lightpink;
}

.color-three {
    background-color:aquamarine;   
    border: 1px solid aquamarine;
}


@keyframes colorchange{
    0% {background-color: yellow; border: 1px solid yellow}
    25% {background-color: lightskyblue; border: 1px solid lightskyblue}
    50% {background-color: lightpink; border: 1px solid lightpink}
    75% {background-color: aquamarine; border: 1px solid aquamarine}
    100% {background-color: peru; border:  1px solid peru}
}

.color-one:hover { 
    opacity: 0.9;
    border: 1px solid gray !important;
}

.color-two:hover {
    opacity: 0.9;
    border: 1px solid gray !important;
}

.color-three:hover {
    opacity: 0.9;
    border: 1px solid gray !important;
}

#italic, #italic-a {
    padding: 0 1rem;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}